:root{
    --color-one: light rgb(87, 87, 253);
    --color-two: grey;
    --color-three: red;
}
*{
    margin: 0;
    padding: 0;
} 

body{
    background-color: var(--color-one);
}

Nav a:hover{
    color: var(--color-three);
}

nav {
    background: var(--color-two);
    display: flex;
    flex: auto;
    align-items: row;
    flex-direction: row;
    list-style: none;
    padding: 14px 14px 15px 12px;
    margin-left: auto;
    background-size: cover;
    list-style-type: none;
    text-align: center;
   
    
}

.navLinks{
    align-items: row;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
}
.hero img{
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 400px;
    width: 30%;
    z-index: 1;
    background-repeat: no-repeat;
}

.hero{
 background-image: url("./image/background.jpg");
 /* background-size: contain; */
 display: flex;
 justify-content: left;
 /* flex-wrap: wrap; */
 height:400px;
 width: 100vw;
background-repeat: no-repeat;
 align-items: flex-start;
 /* background-attachment: fixed; */
 background-position: 100%;
}

footer{
    height: 200px;
    width: 100%;
    background-color: var(--color-two);
}
/* Nav{
    background-color: var(--color-two);
    width: 100%;
} */


/* 
header{
    /* display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky; */
    /*for safari*/
    /* background-color: var(--color-one);
   
  display: flex;
  justify-content: baseline;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  
  z-index: 1;
} */ 

