:root{
    --color-one: light rgb(87, 87, 253);
    --color-two: grey;
    --color-three: red;
    --color-four: black;
}
*{
    margin: 0;
    padding: 0;
} 

body{
    background-color: var(--color-one);
    flex: none;
}
/* controls Nav bar */
Nav a:hover{
    color: var(--color-three);
}

nav {
    background: var(--color-two);
    display: flex;
    flex: auto;
    align-items: row;
    flex-direction: row;
    list-style: none;
    padding: 14px 14px 15px 12px;
    margin-left: auto;
    background-size: cover;
    list-style-type: none;
    text-align: center;
    justify-content: space-between;
    
}


.navLinks{
    
    padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  font-size: larger;
}

.nav a{
    justify-items: flex-start;
    font-size-adjust: inherit;}

/* Mid Images */
.hero img{
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 400px;
    width: 30%;
    z-index: 1;
    background-repeat: no-repeat;
}

.hero{
 display: flex;
 height:100%;
 width: 100%;
 background-color: lightblue;
justify-content: space-between;
}

 #p1{
    background-color: var(--color-four);
}  

.middle{
 height: 500px;
 width: 100%; 
 background-color: lightblue;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
/* Controls footer */
footer a:hover{
    color: var(--color-three);
}

footer{
    justify-content: first baseline;
    width: 100%;
    background-color: var(--color-two);
    margin-top: auto;
    flex: auto;
    align-items: stretch;
    flex-direction: row;
    list-style: none;
    padding: 14px 10px 15px 12px;
    margin-left: auto;
    background-size: cover;
    list-style-type: none;
    text-align: center;
    justify-content: space-between;
    z-index: 9999;
    position: sticky;
}

#git{
    padding-right: 100px;
    padding-left: 100px;
}

#sf{
    padding-right: 100px;
}
#em{
    padding-right: 100px;
}
#pn{
    padding-right: 100px;
}

.grow:hover{
    transform: scale(1.5);
    width: auto;
}


/* reactive coding */

@media screen and (max-width: 768px) { 

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }

      nav{
        width: 100%;
        text-align: center;
      }

    footer{
     width: 100%;
     text-align: center;
    }

    .hero{
        width: 100%;
        text-align: left;
        justify-content: left; 
        flex-wrap: wrap;
    }





}





